<div class="resource-cards">
    <div *ngIf="resources.length; else noData">
      <div *ngFor="let resource of resources" class="resource-card">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ resource.title }}</h3>
            <p class="card-text">{{ resource.description }}</p>

            <span class="badge badge-design">{{ resource.category }}</span>
            <button class="btn-view" (click)="viewDetails(resource)">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noData>
    <p>No resources available for Design.</p>
  </ng-template>
  